#expensesList li{
    display: flex;
    justify-content: space-between;
    padding: 0.75rem;
    border-radius: .5rem;
    box-shadow: 2px 2px 4px #333333;
}

.incoming-money{
    background-color: #22c55e;
}

.outgoing-money{
    background-color: #f97316;
}